html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.angiepic {
  width: 100px;  
  height: auto;
  margin-top: 4px; 
}

img.socialmediaicons {
  width: 200px;  
  height: auto;
  margin: 5px;
}

h1 {
  color: whitesmoke;
}

.topofpage {
  text-align: center;
}

.btn-primary {
  margin: 10px;  
}

.btn.bottommargin{
  margin-bottom: 5px;
}
